.tabel-list {
  background-color: rgb(255, 255, 255);
  width: 100%;
}
.table-head {
  flex: 0 0 auto;
  width: 100%;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.table-head tr {
  margin-left: 0px !important;
  margin-right: 0px !important;
  width: 100%;
  justify-content: space-between;
}
.table-body {
  width: 100%;
  display: inline;
  height: 70px;
}
.card {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.table-content {
  display: flex;
  border-bottom: 1px rgb(167, 167, 167) solid;
  padding-top: 20px;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.table-content tr {
  width: 100%;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
}
.thtitle {
  text-align: left;
}
.tag {
  margin-top: 10px;
}
.tagcategory {
  font-size: 13px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 0.75rem;
  background: rgb(241, 243, 245);
  border-radius: 1rem;
  color: rgb(12, 166, 120);
  transition: all 0.125s ease-in 0s;
  cursor: pointer;
  margin-bottom: 0.75rem;
}
.detailtag {
  font-size: 17px;
}
.searchbar {
  display: flex;
  padding: 20px 5px;
}
.searchtext {
  width: 100%;
  margin-left: 20px;
  border: solid 1px black;
}
.searchtext input {
  width: 96%;
  border: none;
  outline: none;
}
.pagination {
  justify-content: center;
}
.pagination ul {
  list-style: none;
  display: flex;
  padding: 0px;
}
.pagination ul li {
  border-radius: 2px;
  margin: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination ul li:hover {
  /* background-color: rgb(199, 199, 240); */
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}
/* .linkpage {
  display: block;
} */

.submitform {
  background-color: rgb(245, 236, 253);
  height: 1000px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.detail {
  display: block;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.detail p {
  font-size: 17px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.date {
  text-align: right;
}
.radiobtn {
  display: block;
}
.uploadsection {
  width: 100%;
  background-color: rgb(246, 255, 250);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  width: 100%;
  border-width: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center;
}

.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

.applystatus {
  /* border-radius: 15px;
  border: solid black 1px;
  margin-left: 35px;
  margin-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px; */
  color: rgb(6, 104, 53);
  font-weight: bold;
}
